---
import Layout from '../layouts/Layout.astro';
import PerformanceTest from '../components/performance/PerformanceTest';
---

<Layout title="Performance Test Suite - AWS User Group Cochabamba">
	<div class="min-h-screen bg-gray-50">
		<PerformanceTest client:load />
	</div>
</Layout>
